.productExhibit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  outline: 1px solid;
}
.productExhibit__path{
  padding: 1rem;
  // outline: 1px solid;
}
.productExhibit__display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // outline: 1px solid;
}
.productBox{
  position: relative;
  padding: 3rem;
  margin: 1rem;
  border: 1px solid #000;
}
.productBox__img {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.productBox__img::before{
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
}
.productBox__img:hover::before{
  opacity: 1; 
}
.productBox__discountLabel{
  position: absolute;
  padding: .5rem;
  top: 12px;
  right: 12px;
  background-color: $orange;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  z-index: 3;
}
.productBox__productImg{
  position: absolute;
  height: 350px;
  left: 50%;
  transform: translateX(-50%);
}
.productBox__option{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 0 0 .5rem;
  z-index: 5;
}
.productBox__option li {
  padding: 1rem 0;
  opacity: 1;
  transform: translateX(-3rem);
  transition: transform .3s ease-out 0s;
}
.productBox__img:hover .productBox__option li {
  opacity: 1;
  transform: translateX(0);
}
.productBox__img:hover .productBox__option li:nth-child(2){
  transition-delay: 0.1s;
}
.productBox__img:hover .productBox__option li:nth-child(3){
  transition-delay: 0.2s;
}
.productBox__option__icon{
  width: 1.8rem;
  height: 1.8rem;
  fill:#fff;
  transition: all .3s;
  cursor: pointer;
}
.productBox__option__icon:hover{
  fill:$darkred;
  transition: all .3s;

}
.productBox__option li div::before{
  content: '';
  display: none;
  position: absolute;
  background: linear-gradient(-45deg, #fff 49%, transparent 50%);
  width: 0.5rem;
  height: 0.5rem;
  padding: 0.25rem 0.75rem;
  transform: translateY(-50%);
  top: 12%;
  left: 1.75rem;
}
.productBox__option li div::after{
  content: attr(data-tip);
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  transform: translateY(-50%);
  top: 10%;
  left: 3rem;
  font-size: 0.85rem;
  white-space: nowrap;
  color: #333;
}
.productBox__option li div:hover::before,
.productBox__option li div:hover::after{
  display: block;
}
.productBox__content{
  padding: 1rem 0 0 0;
}
.productBox__content__Name{
  font-size: 1rem;
  font-weight: 500;
  
}
.productBox__content__Price{
  display: flex;
}
.productBox__content__Price__original{
  padding-right: 0.5rem;
}
.productBox__content__Price--discount{
  text-decoration: line-through;
  text-decoration-color: $darkred;
}
.productBox__content__Price__discount{
  padding-left: 0.5rem;
  color: $darkred;
}