.carousel {
  background: #d7d7d7;
  height: 80vh;
}

.carousel_cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_cell img{
  padding-top: 3rem;
  width: 350px;
  cursor: pointer;
}
.swiper-slide-active{
  transform: scale(1.5);
  transition: .4s
}
.swiper-slide-next>a{
  pointer-events: none;
  cursor: default;
}
.swiper-slide-prev>a{
  pointer-events: none;
  cursor: default;
}
